name: CI

on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
    - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - run: make test
    - uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
        files: cover.out
        functionalities: fixes

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - uses: golangci/golangci-lint-action@v6
      with:
        version: v1.57
        args: --timeout 5m

  go-apidiff:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
    - uses: joelanford/go-apidiff@main

  license-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: make check-license
